
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
} 

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #bec4c7;
  color: #3f4346;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #3f4346;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle-icon {
  font-size: 1.5rem;
  width: 25px;
  height: 2px;
  background-color: #3f4346;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #d9dfe4;
    position: absolute;
    top: 50px;
    right: 20px;
    left: 0;
    padding: 10px;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}

/* Sidebar styles */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #195576;
  color: #adb5bd;
  margin-left: -250px;
  transition: all 0.5s;
  top: 56px; 
  left: 0;
}

.sidebar .nav-link {
  color: #fff;
  font-size: medium;
  padding: 1em;
}

.sidebar .nav-link:hover {
  background: #495057;
  color: #fff;
}

.sidebar .mt-4 {
  margin-top: 1rem !important;
}

.sidebar .sidebar-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #195576;
  color: #adb5bd;
}

.sidebar-header h3 {
  color: #fff;
  margin: 0;
}

.mr-3 {
  margin-right: 0.75rem !important;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

/* Content styles */
.content {
  flex: 1;
  /* padding: 20px; */
  background-color: #f1f1f1;
  margin-left: 0;
  transition: margin-left 0.3s;
}

.content-shift {
  /* margin-left: 250px; */
}
.inline-form-item .ant-form-item-label {
  
  width: auto;
  margin-right: 10px; /* Adjust the space between label and input as needed */
}

.inline-form-item .ant-form-item-control {
  display: inline-block;
  width: auto;
}
